
#srch{
    display: inline;
    width: 70%;
    height:45px;
    border-radius: 10px;
    margin-left:0px;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    background-image: url(./img/searchIcon.png);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 30px;
    color: gray;
}


#d1{
    padding-left:15%;
}

.d2{
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 10px;
    margin:10px;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 60%;
    margin:auto;
    margin-top:10px;
}

#current{

    height: 80px;
}

#currentDes{
    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

#d3 #d5{
    align-items: center;
    text-align: center;
    padding:auto;
}
.fiveDays{
    width: 90px;
    height: 90px;
    margin:40px;
    font-size: 15px;
}

.day{
    font-size: 28px;

}

.currentImg{
    width:100px;
    height: 60px;
}

#addToFav{
    color: #e0006f;
    font-weight: bolder;
}

#d4{
    text-align: center;
    align-items: center;
    margin:auto;
}

.footer{
    background-color: #ececeb;
    padding-top:10px;
    margin-top:20px;
    /* position: absolute;
    bottom: 0px;
    right: 0px;
    left:0px; */
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.btn-social-icon{
    margin-left: 10px;
}

.t{
    font-size: 13px;
}

.cDya{
    font-weight: bold;
    text-shadow: 1px 1px #ffc107;
}